{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}UACJ Events{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'create_event' %}">Create an Event</a></li>
            <li><a href="{% url 'event_list' %}">View Events</a></li>
            <li><a href="{% url 'check_in' %}">Event Check-In</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
