{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Eventos</h1>
        {% for event in events %}

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{ event.name }}</h5>
                      <a href="{% url 'register' event.id %}" class="card-link">Registrarme</a>
                      {% if user.is_authenticated and user.is_superuser %}
                      <a href="{% url 'export_attended' event.id %}" class="card-link">Lista de asistencia</a>
                      {% endif %}
                    </div>
                  </div>

        {% endfor %}
{% endblock %}