{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="mb-4">Eventos</h1>
        {% for event in events %}

                <div class="card" style="width: 22rem;">
                    <div class="card-body">
                      <h4 class="card-title">{{ event.name }}</h4>
                      <p>{{ event.description }}</p>
                      
                      {% if  not user.is_superuser %}
                      <a href="{% url 'register' event.id %}" class="card-link">
                        <button type="button" class="btn btn-primary">
                        Registrarme
                        </button>
                      </a>
                      {% endif %}
                      
                      {% if user.is_authenticated and user.is_superuser %}
                      <a href="{% url 'export_attended' event.id %}" class="card-link">
                        <button type="button" class="btn btn-primary">
                          Lista de participantes
                        </button>
                      </a>
                      {% endif %}
                    </div>
                  </div>

        {% endfor %}
{% endblock %}